/* INDEX.HTML */
/* ESTILO GERAIS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #8617CF;
    height: 100vh;
    margin: 0 auto;
}

.interface {
    max-width: 1920px;
    margin: 0 auto;
}

.fixed {
    max-width: 1920px;
    margin: auto;
}

.flex {
    display: flex;
}

/* INDEX.HTML */
.efeito-txt-topo,
.efeito-img-topo,
.titulo-edit,
.efeito-especialidades1,
.efeito-especialidades2,
.efeito-especialidades3,
.efeito-especialidades4,
.efeito-especialidades5,
.efeito-especialidades6,
.efeito-portifolio1,
.efeito-portifolio2,
.efeito-portifolio3,
.efeito-formulario1,
.efeito-formulario2,
.efeito-formulario3,
.efeito-formulario4,
.efeito-formulario-btn,

/* SERVICOS.HTML */
.efeito-txt-servicos,
.efeito-imf-servicos,

/* COOPERADORES.HTML */

/* SOBRE.HTML */
.efeito-historia-txt,
.efeito-historia-img,
.efeito-orientacao1,
.efeito-orientacao2,
.efeito-orientacao3,
.efeito-orientacao-txt1,
.efeito-orientacao-txt2,
.efeito-orientacao-txt3 {
    visibility: hidden;
}

.btn-edit {
    color: #000;
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00FF08;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}

.titulo-edit {
    color: #4CBD49;
    font-size: 38px;
    text-align: center;
}

.input-btn:hover {
    box-shadow: 0px 0px 8px #00ff08;
    transform: scale(1.1);
}

.btn-social-edit:hover {
    box-shadow: 0px 0px 8px #00ff08;
    transform: scale(1.1);
}


/* ESTILO INDEX.HTML */
/* ESTILO DO CABEÇALHO */
.cabecalho {
    padding: 40px 4px;
    background-color: #5A0E99;
}

.cabecalho>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-edit {
    height: 100px;
    border-radius: 50%;
}

.menu-ul {
    list-style-type: none;
}

.menu-li {
    display: inline;
    padding: 0 30px;
}

.menu-link {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    transition: .3s;
}

.menu-link:hover {
    color: #5c5c5c;
    transform: scale(1.1);
}

.btn-edit:hover {
    color: #fff;
    box-shadow: 0px 0px 8px #00FF08;
    transform: scale(1.1);
}

/* ESTILO MENU MOBILE */
.btn-abrir-menu {
    display: none;
}

.btn-abrir-menu i {
    color: #00FF08;
    font-size: 40px;
}

.menu-mobile {
    background-color: #5A0E99;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile.abrir-menu {
    width: 70%;
}

.menu-mobile.abrir-menu~.overlay-menu {
    display: block;
}

.btn-fechar {
    padding: 20px 5%;
}

.btn-fechar i {
    color: #00FF08;
    font-size: 30px;
}

.menu-mobile-ul {
    text-align: right;
}

.menu-mobile-link {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}

.menu-mobile-link:hover {
    background-color: #00FF08;
    color: #000;
}

.overlay-menu {
    background-color: #000000df;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

/*ESTILO PRINCIPAL*/
.topo-do-site {
    padding: 40px 4%;
}

.flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.titulo-principal-edit {
    color: #4CBD49;
    font-size: 42px;
    line-height: 40px;
    margin: 40px 0;
}

.subtitulo-principal-edit {
    color: #4CBD49;
    font-size: 30px;
}

.txt-principal-edit {
    color: #fff;
    margin: 40px 0;
}

.img-edit {
    border-radius: 50%;
    height: 300px;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/* ESTILO DAS ESPECIALIDADES */

.especialidades {
    padding: 40px 4%;
}

.especialidades .flex {
    gap: 60px;
}

.especialidades-box {
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .3s;
}

.especialidades-box:hover {
    transform: scale(1.1);
    box-shadow: 0 0 8px #fff;
}

.especialidades-box i {
    font-size: 70px;
    color: #4CBD49;
}

.subtitulo-edit {
    font-size: 28px;
    margin: 15px 0;
}

/* ESTILO PORTIFOLIO */
.portifolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff3b;
}

section.portifolio .flex {
    justify-content: space-around;
    margin-top: 60px;
}

.img-port {
    width: 360px;
    height: 460px;
    background-color: #4CBD49;
    height: 460px;
    background-size: cover;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover {
    opacity: 1;
}

/* ESTILO FORMULARIO */
.formulario {
    padding: 80px 4%;
}

.form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

.form-text {
    text-align: center;
    margin-bottom: 25px;
    color: #fff;
}

.input-edit,
.textarea,
.input-btn {
    width: 100%;
    background-color: #5A0E99;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

.textarea {
    resize: none;
    max-height: 200px;
}

.btn-enviar {
    margin-top: 20px;
    text-align: center;
}

.input-btn {
    width: 120px;
    background-color: #00FF08;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

/* ESTILOS RODAPE */
.rodape {
    background-color: #5A0E99;
    padding: 40px 4%;
}

.flex {
    justify-content: space-between;
}

.line-footer {
    padding: 20px 0;
}

.rodape-img-edit {
    height: 74px;
}

.btn-social-edit {
    color: #000;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #00FF08;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

.borda {
    border-top: 2px solid #4CBD49;
}

footer .line-footer i {
    color: #000;
    font-size: 22px;
}

.rodape-a {
    color: #fff;
}

.rodape-parceria-img-edit {
    height: 100px;
}

.copy {
    text-align: center;
    margin-top: 20px;
    color: #fff;
    /* Ou a cor desejada */
    font-size: 14px;
}


/* ESTILO SERVIÇOS.HTML */
/* ESTILO PRINCIPAL */


.principal-menu-li {
    list-style: none;
    text-align: center;
    display: flex;
    padding: 20px 100px;
    font-size: 20px;
    color: #fff;
}


/* COOPERADORES.HTML */
.cooperadores {
    padding: 60px 4%;
    text-align: center;
}

.cooperadores .flex {
    gap: 60px;
    justify-content: center;
}

.cooperadores-txt-topo {
    text-align: center;
    max-width: 600px;
    /* Ajuste conforme necessário */
}

.cooperadores-box {
    text-align: center;
    padding: 40px;
    color: #fff;
    border-radius: 20px;
    margin-top: 45px;
    transition: .3s;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cooperadores-box:hover {
    transform: scale(1.1);
    box-shadow: 0 0 8px #fff;
}

.cooperadores-img-edit {
    border-radius: 50%;
    height: 300px;
    position: relative;
}

.cooperadores-subtitulo-edit {
    font-size: 28px;
    color: #4CBD49;
    margin: 15px 0;
}

.cooperadores-txt-edit {
    color: #fff;
    margin: 20px 0;
}


/* ESTILO SOBRE.HTML */
/* ESTILO TOPO DO SITE */
.principal-img-edit {
    border-radius: 10%;
    height: 350px;
}

.img-topo-site {
    border-radius: 50%;
    height: 350px;
    position: relative;
}

/* ESTILO ORIENTAÇAO */
.orientacao-estrategica {
    padding: 80px 4%;
}

.orientacao-estrategica-titulo {
    margin-top: 100px;
}

.flex {
    align-items: center;
    gap: 60px;
    margin-top: 50px;
}

.orientacao-img-txt {
    text-align: center;
}

.img-orientacao-edit {
    margin-top: 50px;
    height: 220px;
    border-radius: 100%;
}

.txt-orientacao {
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .3s;
}

.txt-orientacao:hover {
    transform: scale(1.1);
    box-shadow: 0 0 8px #fff;
}

.subtitulo-orientacao {
    color: #4CBD49;
    font-size: 50px;
    line-height: 40px;
    margin-bottom: 30px;
    text-align: center;
}

.texto-orientacao {
    color: #fff;
    margin: 20px 0;
    text-align: center;
}


/* ESTILO CONFIRMACAO.HTML */
.center {
    margin-top: 50px;
    margin-bottom: 100px;
}

.confirmation-icon {
    color: #4CAF50;
    font-size: 100px;
    text-align: center;
}

.center-txt-edit {
    font-size: 38px;
    color: #4CBD49;
    text-align: center;
}

.txt-edit {
    color: #fff;
    margin: 20px 0;
    text-align: center;
}


/* RESPONSIVO */

@media screen and (max-width: 1080px) {

    /* CLASSES GERAIS */
    * {
        max-width: 100%;
    }

    .flex {
        flex-direction: column;
    }

    .topo-do-site .flex {
        flex-direction: column-reverse;
    }

    .titulo-edit {
        font-size: 34px;
        line-height: 30px;
    }

    .btn-abrir-menu {
        display: block;
    }

    /* INDEX.HTML */
    /* CABEÇALHO */
    .menu-desktop,
    .btn-contato {
        display: none;
    }

    .menu-mobile-title {
        color: #4CBD49;
        font-size: 24px;
        margin-top: 15px;
    }

    /* TOPO DO SITE */

    section.topo-do-site .flex {
        gap: 40px;
    }

    section.topo-do-site {
        padding: 20px 8%;
    }

    .titulo-principal-edit {
        font-size: 30px;
    }

    /* PRINCIPAL */

    .img-edit {
        max-width: 100%;
        border-radius: 50%;
        height: 350px;
        position: relative;
        animation: flutuar 2s ease-in-out infinite alternate;
    }

    /* ESPECIALIDADES */
    .especiliadades {
        padding: 40px 8%;
    }

    /* ORIENTCAO */
    .orientacao-estrategica {
        padding: 80px 8%;
    }

    .subtitulo-orientacao {
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    .img-orientacao-edit {
        height: 250px;
        border-radius: 50%;
    }

    /* RODAPÉ */
    .flex {
        flex-direction: column;
        gap: 30px;
    }

    .line-footer {
        text-align: center;
    }


    /* SERVIÇOS.HTML */
    .principal-menu-li {
        text-align: center;
        display: flex;
        padding: 10px 20px;
        font-size: 20px;
        color: #fff;
    }

    #chatbot-recursos-li {
        margin-top: -200px;
    }

    #chatbot-img-edit {
        height: 160px;
    }

    #software-personalizado #software-flex {
        flex-direction: column;
    }

    #software-topo-personalizado {
        margin-bottom: -250px;
    }

    #software-img-edit {
        margin-bottom: -400px;
    }

    #software-img-edit-beneficios {
        height: 130px;
    }

    #ia-e-marketing-flex {
        margin-top: -200px;
    }

    #ia-e-marketing-img {
        margin-bottom: -150px;
    }

    /* CONFIRMACAO.HTML */
    .confirm-img-edit {
        margin-top: 130px;
    }


    /* COOPERADORES.HTML */
    .cooperadores-img-edit {
        height: 250px;
        max-width: 100%;
    }

    /* SOBRE.HTML */
    .principal-img-edit {
        height: 220px;
    }

    .img-topo-site {
        position: relative;
    }

    #historia-img-edit {
        margin-bottom: -200px;
    }
}

@media screen and (min-width: 1080px) {

    /* CABEÇALHO */
    .menu-mobile-title {
        display: none;
    }
}